<h1 style="margin-left: 2em; color: #882a7e; text-shadow: 0.15em 0.15em 0.2em rgba(0, 0, 0, 0.3);">Paraxute</h1>
<h2 style="margin-left: 3em;">Cursos Disponibles</h2>
<div style="margin: 2em; display: flex; justify-content: space-evenly; flex-wrap: wrap;">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Curso de Piano</mat-card-title>
      <mat-card-subtitle>$ 1,400.00 MXN Mensuales</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://scontent.fjal1-1.fna.fbcdn.net/v/t1.6435-9/243116609_3143576895874505_1069311480621738998_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeEXHx_rA2DFhaYcv4xc7Jo1JeRE-eogagMl5ET56iBqA1JC-0xkAkrDXo9Wk2ZEMG4USxmHLK08qhgxD2FGTZfc&_nc_ohc=uH-AQzokRIgAX_hOhBQ&_nc_ht=scontent.fjal1-1.fna&oh=0ef0b84d62d55116aada47cfcc6b608e&oe=61AF1778" alt="Foto de Curso de Piano">
    <mat-card-content>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">HORARIOS DISPONIBLES</button>
      <button mat-raised-button>SEGUIR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Curso de Batería</mat-card-title>
      <mat-card-subtitle>$ 940.00 MXN Mensuales</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://scontent.fjal1-1.fna.fbcdn.net/v/t1.6435-9/244749881_3149862271912634_1718648449329534859_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeFIUhaB7-wsLO2V8xe8gmqI95vcba7Peef3m9xtrs9554u-5fhDxucq93bImk82CO5ekrSujB-F0XaeXWpVcSps&_nc_ohc=FrQBl06comAAX9cIgzH&_nc_ht=scontent.fjal1-1.fna&oh=de56195016c355a3f307a93dc127ebcd&oe=61AFC58B" alt="Foto de Curso de Bateria">
    <mat-card-content>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">HORARIOS DISPONIBLES</button>
      <button mat-raised-button>SEGUIR</button>
    </mat-card-actions>
  </mat-card>
  
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Curso de Iniciación Musical</mat-card-title>
      <mat-card-subtitle>$ 1,150.00 MXN Mensuales</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://scontent.fjal1-1.fna.fbcdn.net/v/t1.6435-9/244403440_3146625242236337_2371866038325743912_n.jpg?_nc_cat=103&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeHjCF77z6Qgk5om_RpAuSnvWnbRzV4Zvg5adtHNXhm-DpI0SEsKFbqE-7e-nst5rEJIyarOGfTYqVwBjFbd7fJZ&_nc_ohc=wkPBwoSKSscAX8X_uVD&_nc_ht=scontent.fjal1-1.fna&oh=6d1a69bf408267c1e9a0fa457e9a4602&oe=61B054DA" alt="Foto de Iniciación Musical">
    <mat-card-content>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat, quis nostrud
        exercitation ullamco.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary">HORARIOS DISPONIBLES</button>
      <button mat-raised-button>SEGUIR</button>
    </mat-card-actions>
  </mat-card>

  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image2"></div>
      <mat-card-title>Piano para Pequeños</mat-card-title>
      <mat-card-subtitle>$ 1000.00 MXN Mensuales</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://scontent.fjal1-1.fna.fbcdn.net/v/t1.6435-9/241993759_3133294300236098_3438400869776579797_n.jpg?_nc_cat=110&ccb=1-5&_nc_sid=730e14&_nc_eui2=AeGXTe7JXtDOhTxrS89IfIFQ8ppu4HFxXbrymm7gcXFdupy2gK10XeHPPuFSZOU5xpLmPDnECjQ-YD-Xyr4fWAS2&_nc_ohc=VO9wTdeGJ5oAX-BdAh3&_nc_oc=AQkKe0qE_oDMtWU_oEiWaHI_3SB3AHaZqycFsNLDQgPc-S0o0ypdlJKXmlxyqKe-ikcLEKp-F6HKTWd5_Pax-90p&_nc_ht=scontent.fjal1-1.fna&oh=9a02e29779f02aa65c99de1fe0f980a0&oe=61B166A3" alt="Foto de Piano para Pequeños">
    <mat-card-content>
      <p style="text-align: justify;">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">HORARIOS DISPONIBLES</button>
      <button mat-raised-button>SEGUIR</button>
    </mat-card-actions>
  </mat-card>
</div>